@charset "UTF-8";

:root {
  --dark-color: #1d1d1d;
  --hover: #2b2b2b;
  --light-color: #9b9b9b;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
  margin: 30px auto;
  width: 85vw;
  max-width: 850px;
  border: 3px solid var(--dark-color);
  border-radius: 20px;
}

header {
  text-align: center;
}

h1 {
  margin: 15px;
}

header > p {
  color: var(--light-color);
}

#changelog-area {
  display: flex;
  flex-direction: column-reverse;
  margin: 40px 20px;
}

.item {
  display: flex;
}

.date-area {
  flex: 0 0 100px;
  align-self: center;
  text-align: right;
  color: var(--light-color);
  font-weight: bold;
}

.dot-area {
  position: relative;
  flex: 0 0 70px;
}

.dot {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--dark-color);
  transform: translate(-50%, -50%);
}

.line {
  position: absolute;
  display: inline-block;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: var(--dark-color);
  transform: translate(-50%);
}

.change-area {
  align-self: center;
  padding: 10px;
}

#button-area {
  text-align: center;
  margin: 15px;
}

#button-area > a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid transparent;
  color: white;
  background-color: var(--dark-color);
  transition: all 0.2s;
}

#button-area > a:hover {
  border: 2px solid black;
  color: black;
  background-color: white;
}